---
layout: default
---

<h1>Profile page for {{ page.name }}</h1>
<p>{{ page.bio }}</p>

<h2>Post by this author</h2>
{%- assign author_posts = site.posts
  | where: "post", "post.author == page.name"
-%}
{%- for post in author_posts -%}
<a href="{{ post.url }}">{{ post.title }}</a>
{%- endfor -%}

{% for post in site.posts %}
	{% if post.authors contains page.name %}
		<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	{% endif %}
  {% if page.name == post.author %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  {% endif %}
{% endfor %}
