---
layout: archive-author
---
<h2>Posts by {{ page.name }}</h2>
<p>
  {{ page.position }} <br>
  <!-- set avatar attribution -->
  {% if page.avatar %}
    <div class="author__avatar">
      <a href="{{ site.url }}{{ site.baseurl }}/team/{{ page.filename | replace: '.md', ''}}">
        <img src="{{ page.avatar | relative_url }}"
             alt="{{ page.name }}"
             itemprop="image"
             class="u-photo"
             align="left"
             style="margin:20px">
      </a>
    </div>
  {% endif %}
  {{ page.bio }}
</p>

{%- assign author_posts = site.posts
  | where: "post", "post.author == page.name"
-%}
{%- for post in author_posts -%}
  <p><a href="{{ post.url }}">{{ post.title }}</a><br>
  {{ post.excerpt }}</p>
{%- endfor -%}

{% for post in site.posts %}
	{% if post.authors contains page.name %}
		<p><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br>
    {{ post.excerpt }}<br></p>
	{% endif %}
  {% if page.name == post.author %}
    <p><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br>
    {{ post.excerpt }}<br></p>
  {% endif %}
{% endfor %}
